@import 'variables.scss';

@mixin button ($size: 1rem) {
    border-radius: $size;
    padding: $size / 2;
    background-color: $main-color;
    color: $white;
    font-size: $size;
}

%border {
    border-radius: 1rem;
    border: 3px solid $main-color;
}

%margin-bottom {
    margin-bottom: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

.input {
    @extend %margin-bottom;
    @extend %border;
    width: 100%;
    padding: 0.3rem;
    background-color: $white;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    border-color: $golden-color;
}

@import 'calculator.scss';
@import 'header.scss';
@import 'login.scss';

/* ------------------------- body ------------------------- */

body {
    background-color: $white;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex-grow: 1;
    margin: auto;
    padding: 2rem 0;
    min-width: 20vw;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------------------- navbar ------------------------- */

.navbar ul {
    list-style-type: none;
    display: table;
}
.navbar {
    font-size: 30px;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: solid;
    border-color: $main-color;
    background-color: $secondary-color;
    color: $black;
}

.navbar li {
    display: table-cell;
    text-align: center;
    padding: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.navbar-active {
    background-color: $main-color;
    color: $white;
}
