@import 'variables.scss';
@import 'header.scss';

* {
    margin: 0;
    padding: 0;
}

.nav-containt {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

