@import 'variables.scss';

@mixin button ($size: 1rem) {
    border-radius: $size;
    padding: $size / 2;
    background-color: $main-color;
    color: $white;
    font-size: $size;
}

* {
    margin: 0;
    padding: 0;
}

@import 'calculator.scss';
@import 'header.scss';

/* ------------------------- body ------------------------- */

body {
    background-color: $white;
    padding-bottom: 2.5rem;
}

/* ------------------------- navbar ------------------------- */

.nav-container {
    list-style-type: none;
    display: table;
    font-size: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: solid;
    border-color: $main-color;
    background-color: $secondary-color;
    color: $black;
    z-index: 1;
}

.nav-container li {
    display: table-cell;
    text-align: center;
    padding: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.navbar-active {
    background-color: $main-color;
    color: $white;
}
