@import 'variables.scss';

.logo {
    width: 100px;
    float: left;
    padding : 1rem;
}

.header {
    text-align: center;
    background: $main-color;
    color: $golden-color;
    font-size: 15px;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

.slogan{
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.2rem;
}
