.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: $main-color;
    color: $golden-color;
    height: 5rem;
}

.title {
    display: flex;
    justify-content: center;
}

.logo  {
    width: 60px;
    margin-right: 1rem;
}

@media (min-width: 992px) {
    .logo {
        width: 40PX;
    }
}