.login-submit {
    @include button(1.2rem);
    display: block;
    margin-left: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    font-size: 1.5em;
}

.register-text {
    margin-top: 1rem;
}