.main-store {
    .registration-title {
        margin-bottom: 1.5rem;
    }

    .article-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .article {
        @extend %border;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > img {
            height: 5rem;
            border-radius: 20px;
            margin: 1rem;
        }

        .properties {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            flex-grow: 1;
            min-height: 9rem;
            margin-right: 1rem;
        }

        input {
            width: 4rem;
            margin-left: 0.5rem;
        }
    }

    textarea {
        min-height: 7rem;
        margin-bottom: 2rem;
    }

    button {
        @include button;
        display: block;
        margin:auto;
    }
}

@media (min-width: 992px) {
    .main-store .article-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-store .article
    > img {
        height: 8rem;
    }

    #store_order_comment {
        width: 50%;
    }

    .main-store textarea {
        font-size: 20px;
    }

    .store-input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-store button {
        font-size: 2rem;
    }

    .main-store .registration-title {
        font-size: 50px;
    }

}
