.main-profile {
    hr {
        width: 70%;
        margin: auto;
        margin-bottom: 2rem;
    }

    h1 {
        margin-bottom: 1rem;
    }

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    table {
        @extend %border;
        padding: 0.5rem 0;
        border-spacing: 10px;
    }

    td span {
        display: block;
    }

    .order-status {
        display: flex;
        align-items: center;
    }

    details {
        margin-left: 0.2rem;
    }

    td {
        white-space: nowrap;
    }
}