$roti: rgba(204,165,86,1);
$pickled-bluewood: rgba(44,68,84,1);
$shadow: rgba(123,113,79,1);
$limed-oak: rgba(157,132,76,1);
$regent-gray: rgba(146,156,166,1);
$regent-gray: rgba(136,148,156,1);
$nandor: rgba(83,88,84,1);
$cutty-sark: rgba(86,108,118,1);
$shuttle-gray: rgba(84,100,116,1);

$main-color: $pickled-bluewood;
$secondary-color: $cutty-sark;
$golden-color: $roti;
$white: darken(white, 5);
$black: black;
