{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div>
        <label for="historic-search">Rechercher par nom : </label>
        <input type="search" id="historic-search" name="historic-search" placeholder="Rechercher ...">

        <button>Rechercher</button>
    </div>
    <div>
        <div>
            <h1>Nom de la commande</h1>
        </div>
        <div>
            <p>Longueur/largeur/quantité</p>
            <p>Longueur/largeur/quantité</p>
            <p>Longueur/largeur/quantité</p>
                        ...
            <p>Longueur/largeur/quantité</p>
        </div>
        <div>
            <h2>Résultat</h2>
            <p>Longueur</p>
            <p>Chutes</p>
        </div>
        <button>Modifier</button>
    </div>
{% endblock %}
