<header class="header">
    <img class="logo" src="{{ asset('build/images/logo.svg') }}" alt="logo"/>
    <h1 class="title">Quick Couette</h1>
    <p class="slogan">Enchantez vos jours. <br> Emerveillez vos nuits</p>
</header>