<ul class="nav-container">
    <li class="nav-items"><a class="nav-link" href="{{ path('calculator_index') }}">Calculatrice</a></li>
    <li class="nav-items"><a class="nav-link" href="{{ path('calculator_history') }}">Historique</a></li>
</ul>
