<ul class="nav-container">
    <li class="nav-items"><a class="nav-link" href="calculatrice">Calculatrice</a></li>
    <li class="nav-items"><a class="nav-link" href="historique">Historique</a></li>
</ul>
