{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main class="main">
        <h1 class="registration-title">Profil</h1>
        {{ dump(user) }}
    </main>
{% endblock %}
