{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main class="main">
        <div class="connexion-container">
            <h1 class="registration-title">Profil</h1>
            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="deconnexion-text">
                        <p>Vous êtes connecté {{ app.user.email }}</p>
                        <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                {% else %}
                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
