{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main class="main">
        <div class="connexion-container">
            <h1 class="registration-title">Profil</h1>
            <div class="deconnexion-text">
                <p>Vous êtes connecté {{ app.user.email }}</p>
                <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
            </div>
        </div>
    </main>
{% endblock %}
